<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
  <h2>New contract to approve</h2>
  <p>You have a new contract waiting to be approved: <a href="{{link}}">{{label}}</a></p>
</body>
</html>