<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
  <h2>Oak Credentials</h2>
  <p>Your Oak administrator has created an account for you. Here is your credentials: </p>
  <ul>
    <li><b>Email: </b> {{email}}</li>
    <li><b>Password: </b> {{password}}</li>
  </ul>
  <b><a href="{{action_link}}">Confirm and login</a></b>
</body>
</html>