<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
  <h2>New {{entryName}} to approve</h2>
  <p>You have a new {{entryName}} waiting to be approved: <a href="{{link.url}}">{{link.label}}</a></p>
</body>
</html>