/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--md-source: 52 211 153;
		/* light */
		--md-sys-color-primary-light: 0 108 75;
		--md-sys-color-on-primary-light: 255 255 255;
		--md-sys-color-primary-container-light: 104 252 191;
		--md-sys-color-on-primary-container-light: 0 33 20;
		--md-sys-color-secondary-light: 0 107 95;
		--md-sys-color-on-secondary-light: 255 255 255;
		--md-sys-color-secondary-container-light: 98 250 227;
		--md-sys-color-on-secondary-container-light: 0 32 28;
		--md-sys-color-tertiary-light: 164 48 115;
		--md-sys-color-on-tertiary-light: 255 255 255;
		--md-sys-color-tertiary-container-light: 255 216 231;
		--md-sys-color-on-tertiary-container-light: 61 0 38;
		--md-sys-color-error-light: 186 26 26;
		--md-sys-color-error-container-light: 255 218 214;
		--md-sys-color-on-error-light: 255 255 255;
		--md-sys-color-on-error-container-light: 65 0 2;
		--md-sys-color-background-light: 251 253 249;
		--md-sys-color-on-background-light: 25 28 26;
		--md-sys-color-surface-light: 251 253 249;
		--md-sys-color-on-surface-light: 25 28 26;
		--md-sys-color-surface-variant-light: 220 229 221;
		--md-sys-color-on-surface-variant-light: 64 73 67;
		--md-sys-color-outline-light: 112 121 115;
		--md-sys-color-inverse-on-surface-light: 239 241 237;
		--md-sys-color-inverse-surface-light: 46 49 47;
		--md-sys-color-inverse-primary-light: 69 223 164;
		--md-sys-color-shadow-light: 0 0 0;
		--md-sys-color-surface-tint-light: 0 108 75;
		--md-sys-color-outline-variant-light: 191 201 193;
		--md-sys-color-scrim-light: 0 0 0;
		/* dark */
		--md-sys-color-primary-dark: 69 223 164;
		--md-sys-color-on-primary-dark: 0 56 37;
		--md-sys-color-primary-container-dark: 0 81 55;
		--md-sys-color-on-primary-container-dark: 104 252 191;
		--md-sys-color-secondary-dark: 60 221 199;
		--md-sys-color-on-secondary-dark: 0 55 49;
		--md-sys-color-secondary-container-dark: 0 80 71;
		--md-sys-color-on-secondary-container-dark: 98 250 227;
		--md-sys-color-tertiary-dark: 255 175 211;
		--md-sys-color-on-tertiary-dark: 98 0 64;
		--md-sys-color-tertiary-container-dark: 133 20 90;
		--md-sys-color-on-tertiary-container-dark: 255 216 231;
		--md-sys-color-error-dark: 255 180 171;
		--md-sys-color-error-container-dark: 147 0 10;
		--md-sys-color-on-error-dark: 105 0 5;
		--md-sys-color-on-error-container-dark: 255 218 214;
		--md-sys-color-background-dark: 25 28 26;
		--md-sys-color-on-background-dark: 225 227 223;
		--md-sys-color-surface-dark: 25 28 26;
		--md-sys-color-on-surface-dark: 225 227 223;
		--md-sys-color-surface-variant-dark: 64 73 67;
		--md-sys-color-on-surface-variant-dark: 191 201 193;
		--md-sys-color-outline-dark: 138 147 140;
		--md-sys-color-inverse-on-surface-dark: 25 28 26;
		--md-sys-color-inverse-surface-dark: 225 227 223;
		--md-sys-color-inverse-primary-dark: 0 108 75;
		--md-sys-color-shadow-dark: 0 0 0;
		--md-sys-color-surface-tint-dark: 69 223 164;
		--md-sys-color-outline-variant-dark: 64 73 67;
		--md-sys-color-scrim-dark: 0 0 0;
	}
}
