<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
  <h2>Contract Signed</h2>
  <p>Your contract, <a href="{{link}}">{{label}}</a>, has been signed.</p>
</body>
</html>