<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
  <h2>Contracts to be reviewed</h2>
  <p>The following contracts need to be reviewed:</p>

  {{#each contracts}}
    <li><a href="{{../baseUrl}}/app/contracts/{{id}}">Contract #{{number}}</a></li>
  {{/each}}
</body>
</html>